* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

body {
  font-size: 16px;
  font-weight: 300;
}

a {
  color: #000;
}

.btn {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  background: #f8b653;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

#header .container {
  background: #000;
  box-shadow: inset 0px 0px 0px 10px #000;
}
#header .container .header-row {
  position: relative;
  height: 50px;
}
#header .container .header-row .logo img {
  position: absolute;
  top: 10px;
  left: 24px;
}
#header .container .header-row .header-content {
  width: 66px;
  right: 187px;
  top: 6px;
}
#header .container .header-row .header-content .component1 .cart-img {
  position: absolute;
  width: 35px;
  height: 36px;
  top: 9px;
  right: 222px;
}
#header .container .header-row .header-content .component1 .cart_number {
  color: #f6f6f6;
  position: absolute;
  width: 35px;
  height: 36px;
  top: 6px;
  right: 187px;
  font-size: 30px;
  line-height: 36px;
}
#header .container .header-row .header-content .login {
  color: #f6f6f6;
  position: absolute;
  width: 91px;
  height: 32px;
  right: 86px;
  top: 15px;
  line-height: 19px;
  text-shadow: 0 4px rgba(0, 0, 0, 0.25);
}
#header .container .header-row .header-content .register {
  color: #f6f6f6;
  vertical-align: top;
  position: absolute;
  width: 90px;
  height: 32px;
  top: 15px;
  right: 20px;
  line-height: 19px;
  text-shadow: 0 4px rgba(0, 0, 0, 0.25);
}

#menu .container {
  position: relative;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}
#menu .container a:first-of-type {
  position: absolute;
  font-weight: 400;
  width: 56px;
  height: 24px;
  top: 16px;
  left: 25px;
}
#menu .container a:nth-of-type(2) {
  position: absolute;
  width: 41px;
  height: 24px;
  top: 16px;
  left: 105px;
  opacity: 0.7;
}
#menu .container a:nth-of-type(3) {
  position: absolute;
  width: 70px;
  height: 24px;
  top: 16px;
  left: 183px;
  opacity: 0.7;
}
#menu .container a:nth-of-type(4) {
  position: absolute;
  width: 31px;
  height: 24px;
  top: 16px;
  left: 292px;
}
#menu .container a:nth-of-type(5) {
  position: absolute;
  width: 52px;
  height: 24px;
  top: 16px;
  left: 363px;
}
#menu .container a.active {
  display: flex;
  justify-content: center;
}
#menu .container a.active::before {
  position: absolute;
  content: "";
  width: 60px;
  bottom: -10px;
  border: 1px solid #000;
  background-color: #030303;
}

#carousel .container {
  position: relative;
  height: 530px;
  background-image: url(../img/image_6.png);
  background-repeat: no-repeat;
  background-position: -36px 107px;
  background-size: 1334px 393px;
}
#carousel .container .carousel_row .carousel-img {
  position: absolute;
  height: 392px;
  top: 5px;
  left: 86px;
}
#carousel .container .carousel_row .carousel-img img {
  width: 100%;
}
#carousel .container .carousel_row .carousel-detail {
  position: absolute;
  width: 291px;
  top: 124px;
  right: 59px;
}
@media screen and (max-width: 950px) {
  #carousel .container .carousel_row .carousel-detail {
    top: 270px;
    left: 86px;
    transform: scale(0.7);
  }
}
#carousel .container .carousel_row .carousel-detail h1 {
  height: 51px;
  font-size: 40px;
  font-weight: 300;
  color: #000;
  line-height: 48px;
}
#carousel .container .carousel_row .carousel-detail p {
  height: 51px;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  line-height: 24px;
}
#carousel .container .carousel_row .pagination .pagination-arrow .arrow-left {
  position: absolute;
  left: 18px;
  top: 175px;
}
#carousel .container .carousel_row .pagination .pagination-arrow .arrow-right {
  position: absolute;
  right: 12.86px;
  top: 175px;
}
#carousel .container .carousel_row .pagination .wrapper {
  text-align: center;
}
#carousel .container .carousel_row .pagination .wrapper .pagination-dot {
  position: absolute;
  top: 397px;
  width: 100%;
}
#carousel .container .carousel_row .pagination .wrapper .pagination-dot .dot {
  width: 15px;
  height: 15px;
  color: #d9d9d9;
  font-size: 35px;
}
#carousel .container .carousel_row .pagination .wrapper .pagination-dot .dot-middle {
  margin: 0 17px 0 23px;
}
#productFeature .container h2 {
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  margin-top: 16px;
  margin-bottom: 89px;
}
#productFeature .container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#productFeature .container .row .col {
  width: 33.3333333333%;
  margin-bottom: 49px;
}
@media screen and (max-width: 1199px) {
  #productFeature .container .row .col {
    width: 50%;
  }
}
@media screen and (max-width: 870px) {
  #productFeature .container .row .col {
    width: 100%;
  }
}
#productFeature .container .row .col .product-item {
  position: relative;
  margin: 0 auto;
  background-color: #f8f8f8;
  width: 334px;
  height: 369px;
}
#productFeature .container .row .col .product-item .product-img {
  text-align: center;
}
#productFeature .container .row .col .product-item .product-img img {
  margin-top: 45px;
  width: 220px;
  height: 156px;
}
#productFeature .container .row .col .product-item .product-detail {
  margin-left: 23px;
  margin-top: 30px;
  margin-bottom: 13px;
}
#productFeature .container .row .col .product-item .product-detail h1 {
  font-size: 24px;
  font-weight: 300;
  color: #000;
  line-height: 29px;
  overflow: hidden;
  height: 29px;
}
#productFeature .container .row .col .product-item .product-detail p {
  font-size: 20px;
  font-weight: 300;
  color: #cbc9c9;
  line-height: 24px;
}
#productFeature .container .row .col .product-item a {
  text-align: center;
  display: inline-block;
  line-height: 64px;
  width: 175px;
  height: 64px;
}
#productFeature .container .row .col .product-item span {
  position: absolute;
  right: 0;
  width: 160px;
  height: 64px;
  text-align: right;
  font-size: 24px;
  background-color: #dedddc;
  font-weight: 600;
  color: #000;
  padding-right: 40px;
  line-height: 64px;
}

#footer img {
  width: 100%;
}

/* DETAIL */