@import "../css/index.min.css";
#registerContent .container h1.register-title {
  text-align: center;
  margin: 30px auto 62px;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}
#registerContent .container form#registerForm .row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#registerContent .container form#registerForm .row .col {
  width: 482px;
}
#registerContent .container form#registerForm .row .col .col-item {
  position: relative;
  margin-top: 27px;
}
#registerContent .container form#registerForm .row .col .col-item input {
  height: 51px;
  width: 100%;
  border: none;
}
#registerContent .container form#registerForm .row .col .col-item input::placeholder {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
#registerContent .container form#registerForm .row .col .col-item::after {
  position: absolute;
  content: "(*)";
  right: 0;
  top: 9px;
  font-size: 20px;
  line-height: 34px;
  color: #f50e0e;
}
#registerContent .container form#registerForm .row .col .col-item::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(180deg, #ae18e2 0%, rgba(0, 0, 0, 0) 100%);
}
#registerContent .container form#registerForm .row .col .col-item .sp-thongbao {
  position: absolute;
  top: 100%;
  color: #f50e0e;
  font-size: 13px;
}
#registerContent .container form#registerForm .row .col .userGender {
  margin-top: 44px;
  height: 51px;
  font-weight: 400;
  font-size: 30px;
  line-height: 51px;
  color: #000000;
  display: flex;
  justify-content: space-between;
}
#registerContent .container form#registerForm .row .col .userGender input {
  display: inline-block;
  appearance: none;
  height: 50px;
  width: 65.42px;
  border: 13px solid #d9d9d9;
  background: #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
}
#registerContent .container form#registerForm .row .col .userGender input:checked {
  background: #ae18e2;
}
#registerContent .container form#registerForm .row .col #btndangky {
  width: 291px;
  height: 50px;
  margin-top: 85px;
  margin-bottom: 40px;
  background: #ae18e2;
  border: none;
  color: #fffcfc;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}