* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
body {
  font-size: 16px;
  font-weight: 300;
}
a {
  color: #000;
}
.btn {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  background: #f8b653;
  border: none;
  cursor: pointer;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  // padding: 0 15px;
}

#header {
  .container {
    background: #000;
    box-shadow: inset 0px 0px 0px 10px #000;
    .header-row {
      position: relative;
      height: 50px;
      .logo {
        img {
          position: absolute;
          top: 10px;
          left: 24px;
        }
      }
      .header-content {
        // position: absolute;
        width: 66px;
        // height: 36px;
        right: 187px;
        top: 6px;
        .component1 {
          .cart-img {
            position: absolute;
            width: 35px;
            height: 36px;
            top: 9px;
            right: 222px;
          }
          .cart_number {
            color: #f6f6f6;
            position: absolute;
            width: 35px;
            height: 36px;
            top: 6px;
            right: 187px;
            font-size: 30px;
            line-height: 36px;
          }
        }
        .login {
          color: #f6f6f6;
          position: absolute;
          width: 91px;
          height: 32px;
          right: 86px;
          top: 15px;
          line-height: 19px;
          text-shadow: 0 4px rgba(0, 0, 0, 0.25);
        }
        .register {
          color: #f6f6f6;
          vertical-align: top;
          position: absolute;
          width: 90px;
          height: 32px;
          top: 15px;
          right: 20px;
          line-height: 19px;
          text-shadow: 0 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}

#menu {
  .container {
    position: relative;
    height: 50px;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    a:first-of-type {
      position: absolute;
      font-weight: 400;
      width: 56px;
      height: 24px;
      top: 16px;
      left: 25px;
    }
    a:nth-of-type(2) {
      position: absolute;
      width: 41px;
      height: 24px;
      top: 16px;
      left: 105px;
      opacity: 0.7;
    }
    a:nth-of-type(3) {
      position: absolute;
      width: 70px;
      height: 24px;
      top: 16px;
      left: 183px;
      opacity: 0.7;
    }
    a:nth-of-type(4) {
      position: absolute;
      width: 31px;
      height: 24px;
      top: 16px;
      left: 292px;
    }
    a:nth-of-type(5) {
      position: absolute;
      width: 52px;
      height: 24px;
      top: 16px;
      left: 363px;
    }
    a.active {
      display: flex;
      justify-content: center;
      &::before {
        position: absolute;
        content: "";
        width: 60px;
        // left: -1px;
        bottom: -10px;
        border: 1px solid #000;
        background-color: #030303;
      }
    }
  }
}

#carousel {
  .container {
    position: relative;
    height: 530px;
    background-image: url(../img/image_6.png);
    background-repeat: no-repeat;
    background-position: -36px 107px;
    background-size: 1334px 393px;
    .carousel_row {
      .carousel-img {
        // @media screen and (max-width: 950px) {
        //   transform: scale(0.7);
        //   left: 0;
        // }
        position: absolute;
        // min-width: 40%;
        // width: 821px;
        height: 392px;
        top: 5px;
        left: 86px;
        img {
          width: 100%;
        }
      }
      .carousel-detail {
        position: absolute;
        width: 291px;
        top: 124px;
        right: 59px;
        @media screen and (max-width: 950px) {
          top: 270px;
          left: 86px;
          transform: scale(0.7);
        }
        h1 {
          // position: absolute;
          // width: 291px;
          height: 51px;
          // top: 124px;
          // right: 59px;
          font-size: 40px;
          font-weight: 300;
          color: #000;
          line-height: 48px;
        }
        p {
          // position: absolute;
          // width: 291px;
          height: 51px;
          // top: 175px;
          // right: 59px;
          font-size: 20px;
          font-weight: 300;
          color: #000;
          line-height: 24px;
        }
        button {
          // position: absolute;
          // top: 225px;
          // right: 200px;
        }
      }
      .pagination {
        .pagination-arrow {
          .arrow-left {
            position: absolute;
            left: 18px;
            top: 175px;
          }
          .arrow-right {
            position: absolute;
            right: 12.86px;
            top: 175px;
          }
        }
        .wrapper {
          // display: flex;
          // justify-content: center;
          // position: absolute;
          // width: 100%;
          // top: 397px;
          text-align: center;
          .pagination-dot {
            position: absolute;
            top: 397px;
            width: 100%;
            .dot {
              width: 15px;
              height: 15px;
              color: #d9d9d9;
              font-size: 35px;
            }
            .dot-left {
            }
            .dot-middle {
              margin: 0 17px 0 23px;
            }
            .dot-right {
            }
          }
        }
      }
    }
  }
}

#productFeature {
  .container {
    h2 {
      text-align: center;
      // height: 48px;
      font-size: 40px;
      line-height: 48px;
      margin-top: 16px;
      margin-bottom: 89px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .col {
        @media screen and (max-width: 1199px) {
          width: calc(100% / 2);
        }
        @media screen and (max-width: 870px) {
          width: calc(100%);
        }
        width: calc(100% / 3);
        margin-bottom: 49px;
        .product-item {
          position: relative;
          margin: 0 auto;
          background-color: #f8f8f8;
          width: 334px;
          height: 369px;
          .product-img {
            text-align: center;
            img {
              margin-top: 45px;
              width: 220px;
              height: 156px;
            }
          }
          .product-detail {
            margin-left: 23px;
            margin-top: 30px;
            margin-bottom: 13px;
            h1 {
              font-size: 24px;
              font-weight: 300;
              color: #000;
              line-height: 29px;
              overflow: hidden;
              height: 29px;
            }
            p {
              font-size: 20px;
              font-weight: 300;
              color: #cbc9c9;
              line-height: 24px;
            }
          }
          a {
            text-align: center;
            display: inline-block;
            line-height: 64px;
            width: 175px;
            height: 64px;
          }
          span {
            position: absolute;
            right: 0;
            width: 160px;
            height: 64px;
            text-align: right;
            font-size: 24px;
            background-color: #dedddc;
            font-weight: 600;
            color: #000;
            padding-right: 40px;
            line-height: 64px;
          }
        }
      }
    }
  }
}

#footer {
  img {
    width: 100%;
  }
}

/* DETAIL */
