@import "../css/index.min.css";

#registerContent {
  // height: 538px;
  .container {
    // height: 100%;

    h1.register-title {
      text-align: center;
      margin: 30px auto 62px;
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
    }
    form#registerForm {
      .row {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .col {
          width: 482px;
          // @media screen and (max-width: 1450px) {
          //   margin: auto;
          // }
          .col-item {
            position: relative;
            margin-top: 27px;
            input {
              // margin-bottom: 27px;
              height: 51px;
              width: 100%;
              // width: 482px;
              border: none;
              &::placeholder {
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                color: #000000;
              }
            }
            &::after {
              position: absolute;
              content: "(*)";
              right: 0;
              top: 9px;
              font-size: 20px;
              line-height: 34px;
              color: #f50e0e;
            }
            &::before {
              content: "";
              position: absolute;
              height: 5px;
              width: 100%;
              bottom: 0;
              background: linear-gradient(
                180deg,
                #ae18e2 0%,
                rgba(0, 0, 0, 0) 100%
              );
            }
          }
          .userGender {
            margin-top: 44px;
            height: 51px;
            width: 120%;
            font-weight: 400;
            font-size: 30px;
            line-height: 51px;
            color: #000000;
            input {
              display: inline-block;
              appearance: none;
              height: 50px;
              width: 65.42px;
              border: 13px solid #d9d9d9;
              background: #d9d9d9;
              border-radius: 50%;
              margin-left: 28px;
              margin-right: 13px;
              cursor: pointer;
              // background: #ae18e2;
              &:checked {
                background: #ae18e2;
              }
            }
          }
          #btndangky {
            width: 291px;
            height: 50px;
            margin-top: 85px;
            margin-bottom: 40px;

            background: #ae18e2;
            border: none;
            color: #fffcfc;
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
          }
        }
      }
    }
  }
}
